/*===============  FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@font-face {
  font-family: "poppins"; /*Can be any text*/
  src: local("poppins"),
    url("./components/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Abril";
  src: local("Abril"),
    url("./components/fonts/AbrilFatface-Regular.ttf") format("truetype");
}

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 80%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --title-color-white: hsl(var(--hue), var(--sat), 100%);
  --subtitle-color: hsl(var(--hue), var(--sat), 60%);
  --description-color: hsl(var(--hue), var(--sat), 70%);
  --text-color: hsl(var(--hue), var(--sat), 10%);
  --button-hover-color: #9b9b9b;
  --body-color: #000000;
  --container-color: #f9f9f9;
  --container-color-dark: #101010;
  --container-color-dark2: #1f1f1f;

  --dark-bg: #ffffff;
  --gray-1: #bcb4b4;
  /* imp */
  --deep-dark: #2c2c2c;
  --deep-dark2: #2d2d2d;
  --gray-2: #2c2c2c;
  --white: var(--body-color);
  --white-2: #3c3c3c;
  --black: black;

  /*========== Font and typography ==========*/
  --body-font: "poppins", sans-serif;

  /*.5rem = 8px | 1rem = 16px ...*/
  --big-font-size: 3.5rem;
  --h1-font-size: 3rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
/* ::selection {
  color: var(--white-2);
  background-color: white;
} */
/* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  user-select: nono;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray-1);
  border-radius: 100px;
}

.box {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25%;
  background-color: var(--container-color-dark);
  overflow: hidden;
}
/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  font-family: Abril, sans-serif;
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
  color: var(--subtitle-color);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--black);
  filter: invert(1);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
  transition: 0.2s;
}

.button:hover {
  background-color: var(--button-hover-color);
}

.button__icon {
  margin-left: var(--mb-0-5);
  filter: invert(1);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .button {
    padding: 1rem 1.75rem;
  }

  .button__icon {
    width: 22px;
    height: 22px;
  }
  .box {
    display: none;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }

  .section {
    padding: 2rem 0 4rem;
  }

  .section__subtitle {
    margin-bottom: var(--mb-3);
  }
  .secondary-cursor {
    display: none;
  }
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
  :root {
    --big-font-size: 2.25rem;
  }

  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}

/*=============== about ===============*/

.about__container {
  transition: 0.3s ease-out;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 4rem;
}


.about__container img {
  display: none;
  position: relative;
}

.about__img {
  width: 350px;
  border-radius: 1.5rem;
  justify-self: center;
  
}

.about__info {
  grid-template-columns: repeat(3, 140px);
  gap: 0.5rem;
  margin-bottom: var(--mb-2);
}

.about__box {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  text-align: center;
  padding: 1rem 1.25rem;
}

.about__icon {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-bottom: var(--mb-0-5);
}

.about__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
  filter: invert(1);
}

.about__subtitle {
  font-size: var(--tiny-font-size);
  color: var(--subtitle-color);
}

.about__description {
  padding: 0 0 0 0;
  margin-bottom: var(--mb-2-5);
  color: var(--description-color);
}

/* breakpoint */

@media screen and (max-width: 992px) {
  .about__container {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }

  .about__img {
    width: 220px;
  }

  .about__box {
    padding: 0.75rem 0.5rem;
  }
  .about__data {
    text-align: center;
  }
  .about__info {
    justify-content: center;
  }

  .about__description {
    padding: 0 5rem;
    margin-bottom: 2rem;
  }
}

/* For medium devices */

@media screen and (max-width: 576px) {
  .about__info {
    grid-template-columns: repeat(3, 1fr);
  }

  .about__description {
    padding: 0;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .about__info {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*=============== Home ===============*/
.home__container {
  row-gap: 7rem;
}

.home__content {
  grid-template-columns: 116px repeat(2, 1fr);
  padding-top: 5.5rem;
  column-gap: 2rem;
  align-items: center;
}
.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}
.home__hand {
  width: 38px;
  height: 38px;
  margin-left: 0.4rem;
}

.home__subtitle {
  position: relative;
  font-size: var(--h3-font-size);
  padding-left: 5.4rem;
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-1);
}
.home__social-icon {
  font-size: 1.25rem;
  color: var(--title-color);
}
.home__social-icon:hover {
  color: var(--title-color-dark);
  filter: invert(1);
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-0-25);
}
.home__img {
  box-shadow: inset -20px 0px 20px 20px rgb(0 0 0 / 30%);
  order: 1;
  justify-self: center;
  width: 300px;
  height: 300px;
}

.home__subtitle::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 1px;
  background-color: var(--title-color);
  left: 0;
  top: 1rem;
}

.home__description {
  max-width: 400px;
  margin-bottom: var(--mb-3);
  color: var(--description-color);
}

@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.home__scroll {
  position: absolute;
  bottom: 5%;
  right: 5%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
  cursor: pointer;
  animation: scroll__animate 1s ease-in-out infinite;
}

.wheel {
  animation: scroll 2s ease infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(3.75rem);
  }
}

.home__scroll-name {
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-25);
  margin-left: 0.5rem;
}

.home__scroll-arrow {
  font-size: 1.25rem;
  color: var(--title-color);
}

@media screen and (max-width: 992px) {
  .home__content {
    grid-template-columns: 100px repeat(2, 1fr);
    column-gap: 1.25rem;
  }

  .home__hand {
    width: 26px;
    height: 26px;
  }

  .home__subtitle {
    padding-left: 3.75px;
    margin-bottom: var(--mb-1);
  }

  .home__subtitle::before {
    display: none;
  }

  .home__description {
    max-width: intitial;
    margin-bottom: var(--mb-2-5);
  }

  .home__img {
    width: 250px;
    height: 250px;
    box-shadow: inset -20px 0px 20px 20px rgb(0 0 0 / 30%);
  }
}

@media screen and (max-width: 768px) {
  .home__description {
    text-align: center;
  }
  .home__content {
    padding-top: 0rem;
    grid-template-columns: 3fr;
  }
  .home__img {
    order: initial;
    /* justify-self: initial; */
  }
  .home__subtitle::before {
    display: none;
  }
  .home__data,
  .home__img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home__img {
    box-shadow: inset 0 0 0 6px rgb(255 255 255 / 30%);
    width: 200px;
    height: 200px;
  }
  .about__scroll {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .home__img {
    width: 150px;
    height: 150px;
  }
  .home__hand {
    width: 20px;
    height: 20px;
  }
}

/*=============== Skills ===============*/
.skills__container {
  grid-template-columns: repeat(2, 350px);
  column-gap: 3rem;
  justify-content: center;
}

.skills__content {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem 4rem;
  border-radius: 1.25rem;
}

.skills__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
  text-align: center;
  color: var(--title-color);
  filter: invert(1);
}

.skills__box {
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
}

.skills__group {
  display: grid;
  align-items: flex-start;
  row-gap: 1rem;
}

.skills__data {
  display: flex;
  column-gap: 0.5rem;
}

.bx-badge-check {
  color: var(--title-color);
  filter: invert(1);
}

.skills,
.bx-badge-check {
  font-size: 1rem;
  color:var(--container-color-dark)
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
  filter: invert(1);
  list-style: 18px;
}

.skills_level {
  font-size: var(--small-font-size);
  color: var(--subtitle-color);
  filter: invert(1);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .skills__container {
    grid-template-columns: max-content;
    row-gap: 2rem;
  }
}

/* For medium devices */

@media screen and (max-width: 576px) {
  .skills__container {
    grid-template-columns: 1fr;
  }
  .skills__content {
    padding: 1.5rem;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .skills__box {
    column-gap: 1.25rem;
  }
  .skills__name {
    font-size: var(--small-font-size);
  }
}

/*=============== Skills ===============*/
.skills__container {
  grid-template-columns: repeat(2, 350px);
  column-gap: 3rem;
  justify-content: center;
}

.skills__content {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem 4rem;
  border-radius: 1.25rem;
}

.skills__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
  text-align: center;
  color: var(--title-color);
  filter: invert(1);
}

.skills__box {
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
}

.skills__group {
  display: grid;
  align-items: flex-start;
  row-gap: 1rem;
}

.skills__data {
  display: flex;
  column-gap: 0.5rem;
}
.bx-badge-check {
  color: var(--title-color);
  filter: invert(1);
}

.skills,
.bx-badge-check {
  font-size: 1rem;
  color: var(--title-color);
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
  filter: invert(1);
  list-style: 18px;
}

.skills_level {
  font-size: var(--small-font-size);
  color: var(--subtitle-color);
  filter: invert(1);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .skills__container {
    grid-template-columns: max-content;
    row-gap: 2rem;
  }
}

/* For medium devices */

@media screen and (max-width: 576px) {
  .skills__container {
    grid-template-columns: 1fr;
  }
  .skills__content {
    padding: 1.5rem;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .skills__box {
    column-gap: 1.25rem;
  }
  .skills__name {
    font-size: var(--small-font-size);
  }
}

/*=============== Services ===============*/

.services__container {
  grid-template-columns: repeat(3, 270px);
  justify-content: center;
  column-gap: 1.5rem;
}

.services__content {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--container-color);
  padding: 4.5rem 0 2rem 2.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 0.3s;
}

.services__icon {
  display: block;
  font-size: 2rem;
  color: var(--white);
  margin-bottom: var(--mb-1);
}

.services__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
  color: var(--white);
}
.services__button {
  color: var(--white);
  font-size: var(--small-font-size);
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
}

.services__button-icon {
  font-size: 1.25rem;
  transition: 0.3s;
  color: var(--white);
}

.services__button:hover .services__button-icon {
  transform: translateX(0.5rem);
}
.services__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: var(--z-modal);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  opacity: 1;
  visibility: hidden;
  transition: ease-in-out;
}
.services__modal-content {
  width: 500px;
  position: relative;
  background-color: var(--container-color);
  padding: 4.5rem 2.5rem 2.5rem;
  border-radius: 1.25rem;
  text-align: justify;
}

.services__modal-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.7rem;
  color: var(--title-color);
  cursor: pointer;
  padding: 0 10px 0 10px;
}

.services__modal-close:hover::before {
  background-color: #000000;
  color: #ffffff;
  border-radius: 50%;
}

.services__modal-title,
.services__modal-description {
  text-align: center;
}

.services__modal-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: var(--white-2);
  margin-bottom: var(--mb-1);
}

.services__modal-description {
  font-size: var(--small-font-size);
  padding: 0 3.5rem;
  margin-bottom: var(--mb-2);
  color: var(--subtitle-color);
}

.services__modal-services {
  row-gap: 0.75rem;
}

.services__modal-services {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.services__modal-icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.services__modal-info {
  font-size: var(--small-font-size);
}

.icons {
  font-size: var(--h1-font-size);
  color: rgba(0, 0, 0, 0.681);
}

/* active modal */
.active-modal {
  opacity: 1;
  visibility: visible;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .services__container {
    grid-template-columns: repeat(3, 218px);
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .services__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .services__content {
    padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  }

  .services__icon {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .services__modal-icon {
    padding: 4.5rem 1.5rem 2.5rem;
  }

  .services__modal-description {
    padding: 0;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .services__container {
    grid-template-columns: max-content;
  }

  .services__content {
    padding-right: 6rem;
  }
}

/* qualification  */

.qualification__container {
  max-width: 768px;
  height: fit-content;
  padding-bottom: 2rem;
}

.qualification__tabs {
  display: flex;
  justify-content: center;
  margin-bottom: var(--mb-2);
}

.qualification__button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: var(--subtitle-color);
  margin: 0 var(--mb-1);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.qualification__button:hover {
  color: var(--white-2);
}

.qualification__icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification__active {
  color: white;
}

.qualification__sections {
  display: grid;
  grid-template-columns: 0.5fr;
  justify-content: center;
}

.qualification__content {
  display: none;
}

.qualification__content-active {
  display: block;
}

.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification__subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  color: var(--subtitle-color);
  margin-bottom: var(--mb-1);
}

.qualification__calender {
  font-size: var(--small-font-size);
  color: var(--subtitle-color);
}

.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--white);
  filter: invert(1);
  border-radius: 50%;
}

.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--white);
  filter: invert(1);
  transform: translate(6px, -7px);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .qualification__container {
    margin-left: auto;
    margin-right: auto;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .qualification__container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
}

@media screen and (max-width: 576px) {
  .qualification__sections {
    grid-template-columns: initial;
  }

  .qualification__button {
    margin: 0 var(--mb-0-75);
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .qualification__data {
    gap: 0.5rem;
  }
}

/*=============== Contact ===============*/

.contact {
  background-color: #262626;
}

.contact__container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  font-size: 10px;
}

/* blogs section */

.blog__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px 4px;
}

@media (min-width: 768px) {
  .blog__container {
    grid-template-columns: 1fr 1fr;
    gap: 10px 6px;
  }
}

@media (min-width: 1024px) {
  .blog__container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 19px 19px;
  }
}


.blogGrid {
  position: relative;
  overflow: hidden;
  border-radius: 0.375rem;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.blogGrid.dark {
  background-color: #333;
}

.blogGrid__title {
  margin-bottom: .75rem;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

.blogGrid__title:hover {
  color: var(--container-color-dark)
}

.blogGrid__title.dark {
  color: #fff;
}

.blogGrid__title.dark:hover {
  color: var(--container-color-dark)
}

@media (min-width: 640px) {
  .blogGrid__title {
    font-size: 1.5rem;
  }
}

.blog {
  background-color: rgb(0, 0, 0);
  padding-top: 4rem;
  padding-bottom: 4rem;
  color:white
}

@media (min-width: 768px) {
  .blog {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media (min-width: 1024px) {
  .blog {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}



.TagButton {
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  background-color: #ff3366;
  padding: 0.5rem 1rem;
  color: white;
  transition-duration: 0.3s;
}

.TagButton:hover {
  background-color: rgba(59, 130, 246, 1);
  color: #fff;
}



.ShareIcon {
  margin: 0.75rem 5px;
  color:white;
  display: inline-flex;
  height: 2.25rem;
  width: 2.25rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  background-color: rgba(255, 255, 255, 0.967);
  transition-duration: 0.3s;
}

.ShareIcon:hover {
  background-color: rgba(59, 130, 246, 1);
  color: #fff;
}

.ShareIcon-small {
  margin-left: 0.75rem;
}

/* blog-details.css */



.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.w-full {
  width: 100%;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.lg:w-8{
  width: 66.666667%;
}

.font-bold {
  font-weight: bold;
}

.leading-tight {
  line-height: 1.25;
}

.text-black {
  color: #000;
}

.dark\:text-white {
  color: #fff;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-base {
  font-size: 1rem;
}

.font-medium {
  font-weight: 500;
}

.text-body-color {
  color: #666;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.border-b {
  border-bottom-width: 1px;
}

.border-body-color {
  border-color: #666;
}


.pb-4 {
  padding-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.text-lg {
  font-size: 1.125rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.inline-flex {
  display: inline-flex;
}

.rounded-full {
  border-radius: 9999px;
}

.bg-primary {
  background-color: #ff3366;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-white {
  color: #fff;
}

.inline-flex {
  display: inline-flex;
}

.justify-center {
  justify-content: center;
}

.w-full {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded {
  border-radius: 0.25rem;
}

.relative {
  position: relative;
}


.object-cover {
  object-fit: cover;
}

.object-center {
  object-position: center;
}

.font-xl {
  font-size: 1.25rem;
}

.font-bold {
  font-weight: bold;
}

.font-medium {
  font-weight: 500;
}

.text-black {
  color: #000;
}

.dark\:text-white {
  color: #fff;
}

.text-lg {
  font-size: 1.125rem;
}

.leading-tight {
  line-height: 1.25;
}

.text-base {
  font-size: 1rem;
}

.font-normal {
  font-weight: normal;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.w-auto {
  width: auto;
}

.h-4 {
  height: 1rem;
}

.w-4 {
  width: 1rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.blogGrid__paragragh{
  display: -webkit-box;
  -webkit-line-clamp:3 ;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

 .singleBlog_para{
  color:var( --gray-1);
  font-size:var(--normal-font-size)
 }



.heading1{
  font-size: 1.7rem;
  font-weight: 600;
  color: rgb(227, 227, 227);
  text-align: center;
  margin-bottom: 1.5rem;
}

.heading2{
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(227, 227, 227);
  text-align: center;
  margin-bottom: 1.5rem;
}

.link{
  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(227, 8, 8);
  margin-bottom: 1.5rem;
}
.tags{
color: var(--gray-1);
}


.ticket{
  position:relative;
  height:410px;
  width:630px;
  background:black;
  display:flex;
  align-items:flex-end;
  box-shadow: 0px 10px 40px rgba(0,0,0,.4);
}
.flight-info{
  position:relative;
  z-index:99;
  padding:30px;
}
.flight-locations{
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-top:-20px;
}
canvas{
  position:absolute;
  border-radius:1.5rem;
  z-index:0;
}
.overlay{
  position:absolute;
  background:rgba(0, 0, 0, .2);
  left:0; 

  right:0;
  top:0;
  bottom:0;
  z-index:1;
}



/* tets */

#root .title-lines {
  opacity: 0;
  display: none;
}



#root main .content section p:nth-of-type(1) {
  text-align: end;
}
#root main .content section p:nth-of-type(3) {
  text-align: center;
}
#root main .content section p span {
  font-family: "Major Mono Display", monospace;
  color: #969595;
  font-size: 12vw;
}
#root #para {
  background-color: #121212;
  color: white;
  margin: 10vw 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease-out;
  will-change: transform;
}
#root #para h2 {
  font-size: 8.5vw;
  width: 80%;
}
#root #para h2 small {
  font-size: 8.5vw;
}
#root #para h1 {
  font-size: 9.7vw;
  width: 80%;
  color: pink;
  font-weight: bolder;
  font-family: "raleway";
}
#root #para h1:nth-of-type(2) {
  color: white;
}
#root #para small {
  font-family: "Major Mono Display", monospace;
  font-size: 3vw;
}
#root #para p {
  width: 80%;
  font-size: 5vw;
}
#root #para p span {
  font-style: italic;
  text-decoration: line-through;
  color: lightsalmon;
}
#root #para:nth-of-type(7) {
  margin-bottom: 22vw;
}
#root .text-slider {
  white-space: nowrap;
  overflow: hidden;
  width: 100vw;
  border-bottom: 1px #5e5e5e solid;
  border-top: 1px #5e5e5e solid;
  margin-bottom: -6vw;
}
#root .text-slider span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 90s linear infinite;
  -webkit-text-stroke: 1px #bebebe;
  font-size: 160px;
  -webkit-text-fill-color: #121212;
  font-family: raleway;
  will-change: transform;
}
#root .text-slider span:hover {
  -webkit-text-stroke: 1px lightsalmon;
  -webkit-text-fill-color: lightsalmon;
  font-style: italic;
  text-decoration: line-through;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
 }
  100% {
    transform: translate(-100%, 0);
 }
}
#root .honne-container, #root .fin-container, #root .pac-container, #root .kap-container, #root .trek-container {
  transition: 0.3s ease-out;
  will-change: transform;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  margin: 15vw 0;
  font-family: "raleway";
}
#root .honne-container img, #root .fin-container img, #root .pac-container img, #root .kap-container img, #root .trek-container img {
  display: none;
  position: relative;
}
#root .honne-container #proj-text, #root .fin-container #proj-text, #root .pac-container #proj-text, #root .kap-container #proj-text, #root .trek-container #proj-text {
  width: 35%;
}
#root .honne-container #proj-text h1, #root .fin-container #proj-text h1, #root .pac-container #proj-text h1, #root .kap-container #proj-text h1, #root .trek-container #proj-text h1 {
  z-index: 1;
  font-size: 8.9vmax;
  font-family: "poiret one";
  color: white;
}
#root .honne-container #proj-text ion-icon, #root .fin-container #proj-text ion-icon, #root .pac-container #proj-text ion-icon, #root .kap-container #proj-text ion-icon, #root .trek-container #proj-text ion-icon {
  color: pink;
  font-size: 30px;
  margin: -0.4vw 1vw 0 0;
}
#root .honne-container #proj-text a, #root .fin-container #proj-text a, #root .pac-container #proj-text a, #root .kap-container #proj-text a, #root .trek-container #proj-text a {
  display: flex;
  align-items: center;
  color: pink;
}
#root .honne-container #proj-text p, #root .fin-container #proj-text p, #root .pac-container #proj-text p, #root .kap-container #proj-text p, #root .trek-container #proj-text p {
  text-align: justify;
  color: white;
  font-size: 17px;
}
#root .honne-container #proj-text small, #root .fin-container #proj-text small, #root .pac-container #proj-text small, #root .kap-container #proj-text small, #root .trek-container #proj-text small {
  font-size: 18.5px;
  color: pink;
}
#root .honne-container #proj-text ul, #root .fin-container #proj-text ul, #root .pac-container #proj-text ul, #root .kap-container #proj-text ul, #root .trek-container #proj-text ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
#root .honne-container #proj-text ul li, #root .fin-container #proj-text ul li, #root .pac-container #proj-text ul li, #root .kap-container #proj-text ul li, #root .trek-container #proj-text ul li {
  color: white;
  font-size: 17px;
  list-style: initial;
}
#root .honne-container #honne-image, #root .fin-container #honne-image, #root .pac-container #honne-image, #root .kap-container #honne-image, #root .trek-container #honne-image {
  position: relative;
  width: 280px;
  height: 630px;
  position: relative;
}
#root .honne-container #honne-image:hover, #root .fin-container #honne-image:hover, #root .pac-container #honne-image:hover, #root .kap-container #honne-image:hover, #root .trek-container #honne-image:hover {
  cursor: pointer;
}
#root .honne-container #honne-image p, #root .fin-container #honne-image p, #root .pac-container #honne-image p, #root .kap-container #honne-image p, #root .trek-container #honne-image p {
  position: absolute;
  bottom: -35px;
  right: 15px;
  color: #ebe8e8;
}
#root .honne-container #honne-image canvas, #root .fin-container #honne-image canvas, #root .pac-container #honne-image canvas, #root .kap-container #honne-image canvas, #root .trek-container #honne-image canvas {
  border-radius: 30px;
  filter: brightness(85%);
  box-shadow: 1.2px 1.2px 4px #383838;
}
#root .honne-container #honne-image::after, #root .fin-container #honne-image::after, #root .pac-container #honne-image::after, #root .kap-container #honne-image::after, #root .trek-container #honne-image::after {
  content: "PRJ WRK 002";
  display: block;
  transform: rotate(-90deg);
  color: #ebe8e8;
  position: absolute;
  left: -27.5%;
  bottom: 10%;
}
#root .honne-container #proj-text {
  transform: translateY(-3.8%);
}
#root .fin-container, #root .kap-container, #root .trek-container {
  flex-direction: column-reverse;
  align-items: flex-end;
  padding-right: 5%;
  position: relative;
}
#root .fin-container .arrow, #root .kap-container .arrow, #root .trek-container .arrow {
  width: 6vw;
  height: 1.7px;
  background: white;
  transform: rotate(90deg);
  position: absolute;
  right: 13.35vw;
  top: 24vw;
}
#root .fin-container .arrow::after, #root .kap-container .arrow::after, #root .trek-container .arrow::after {
  content: "";
  display: block;
  width: 3vmax;
  height: 1.7px;
  background-color: white;
  position: absolute;
  right: -5px;
  top: -1vw;
  transform: rotate(40deg);
}
#root .fin-container .arrow::before, #root .kap-container .arrow::before, #root .trek-container .arrow::before {
  content: "";
  display: block;
  width: 3vmax;
  height: 1.7px;
  background-color: white;
  position: absolute;
  right: -5px;
  bottom: -1vw;
  transform: rotate(-42deg);
}
#root .fin-container #circle-1, #root .kap-container #circle-1, #root .trek-container #circle-1 {
  stroke-dasharray: 1300;
  stroke-dashoffset: 1300;
  animation: dash 2s linear forwards;
  fill: transparent;
  stroke: white;
  position: absolute;
  right: 5vw;
  top: 13vw;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
 }
}
#root .fin-container #proj-text, #root .kap-container #proj-text, #root .trek-container #proj-text {
  width: 72%;
  text-align: start;
  transform: translateX(-19%);
  margin-bottom: 5vw;
}
#root .fin-container #proj-text p, #root .kap-container #proj-text p, #root .trek-container #proj-text p {
  width: 70%;
}
#root .fin-container #proj-text h1, #root .kap-container #proj-text h1, #root .trek-container #proj-text h1 {
  margin-left: -1%;
  font-family: "Montserrat";
}
#root .fin-container #proj-text ul, #root .kap-container #proj-text ul, #root .trek-container #proj-text ul {
  width: 50%;
}
#root .fin-container #fin-image, #root .kap-container #fin-image, #root .trek-container #fin-image, #root .fin-container #kap-image, #root .kap-container #kap-image, #root .trek-container #kap-image, #root .fin-container #trek-image, #root .kap-container #trek-image, #root .trek-container #trek-image {
  width: 60vw;
  height: 30vw;
  position: relative;
  margin-bottom: 5vw;
}
#root .fin-container #fin-image p, #root .kap-container #fin-image p, #root .trek-container #fin-image p, #root .fin-container #kap-image p, #root .kap-container #kap-image p, #root .trek-container #kap-image p, #root .fin-container #trek-image p, #root .kap-container #trek-image p, #root .trek-container #trek-image p {
  position: absolute;
  bottom: -30px;
  right: 10px;
  color: #ebe8e8;
}
#root .fin-container #fin-image::after, #root .kap-container #fin-image::after, #root .trek-container #fin-image::after, #root .fin-container #kap-image::after, #root .kap-container #kap-image::after, #root .trek-container #kap-image::after, #root .fin-container #trek-image::after, #root .kap-container #trek-image::after, #root .trek-container #trek-image::after {
  content: "PRJ WRK 004";
  display: block;
  color: #ebe8e8;
  position: absolute;
  left: 1%;
  top: -32px;
}
#root .fin-container #fin-image:hover, #root .kap-container #fin-image:hover, #root .trek-container #fin-image:hover, #root .fin-container #kap-image:hover, #root .kap-container #kap-image:hover, #root .trek-container #kap-image:hover, #root .fin-container #trek-image:hover, #root .kap-container #trek-image:hover, #root .trek-container #trek-image:hover {
  cursor: pointer;
}
#root .fin-container #fin-image, #root .kap-container #fin-image, #root .trek-container #fin-image {
  box-shadow: 0.5px 0.5px 4px #070707;
}
#root .trek-container #proj-text h1 {
  font-family: raleway;
}
#root .trek-container #trek-image {
  box-shadow: 1.3px 1.3px 6px #000;
}
#root .trek-container #trek-image::after {
  content: "PRJ WRK 001";
}
#root .trek-container #trek-image:hover {
  cursor: initial;
}
#root .kap-container {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5%;
  position: relative;
}
#root .kap-container .arrow {
  transform: rotate(120deg);
}
#root .kap-container #proj-text {
  width: 58%;
  text-align: start;
  transform: translateX(-7%);
  margin-bottom: -6vw;
  align-self: flex-end;
}
#root .kap-container #proj-text h1 {
  margin-left: -2%;
}
#root .kap-container #proj-text p {
  width: 100%;
}
#root .kap-container #proj-text ul {
  width: 75%;
}
#root .kap-container #kap-image {
  box-shadow: 1.3px 1.3px 6px #000;
}
#root .kap-container #kap-image::after {
  content: "PRJ WRK 003";
}
#root .pac-container {
  justify-content: space-around;
  padding-left: 5%;
  position: relative;
}
#root .pac-container #pac-image {
  width: 35vw;
  height: 40vw;
  position: relative;
  margin-bottom: 5vw;
  box-shadow: 1.3px 1.3px 6px #000;
}
#root .pac-container #pac-image p {
  position: absolute;
  bottom: -30px;
  left: 5px;
  color: #ebe8e8;
}
#root .pac-container #pac-image::after {
  content: "PRJ WRK 005";
  display: block;
  color: #ebe8e8;
  position: absolute;
  right: -70px;
  bottom: 55px;
  transform: rotate(90deg);
}
#root .pac-container #pac-image:hover {
  cursor: pointer;
}
#root .pac-container #proj-text {
  width: 50%;
}
#root .pac-container #proj-text h1 {
  font-size: 6.3vmax;
  color: #eee;
  font-family: "Press Start 2P", cursive;
}
#root .pac-container #proj-text p {
  width: 80%;
}
#root .pac-container #proj-text ul {
  columns: 1;
}
#root h6 {
  text-align: center;
  font-size: 4vw;
  margin-bottom: 15vw;
  color: #969494;
}



@keyframes bounce {
  0% {
    transform: scale(1.05);
 }
  100% {
    transform: scale(0.95);
 }
}
.modal-content {
  background-color: red;
  height: 90vh;
  width: 90vw;
}
.modal-content iframe {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 800px) {
  svg {
    display: none;
 }
  .arrow {
    display: none;
 }
  #count {
    font-size: 95px !important;
    transform: translateY(-12px) !important;
 }
  #para small {
    font-size: 4vw !important;
 }
  .content nav {
    width: 90% !important;
    left: -1% !important;
    top: 5% !important;
 }
  .content section {
    height: 93% !important;
 }
  .content section p {
    margin-bottom: -4vw !important;
    font-size: 11.1vw !important;
 }
  .content section p span {
    font-size: 11.4vw !important;
 }
  .text-slider {
    margin: 0 !important;
 }
  .text-slider span {
    font-size: 120px !important;
 }
  .honne-container, .fin-container, .pac-container, .kap-container, .trek-container {
    flex-direction: column !important;
    align-items: center !important;
    padding: 0% !important;
 }
  .honne-container #proj-text, .fin-container #proj-text, .pac-container #proj-text, .kap-container #proj-text, .trek-container #proj-text {
    width: 80% !important;
    margin: 8vw 0 15vw 0 !important;
    transform: translate(0) !important;
 }
  .honne-container #proj-text h1, .fin-container #proj-text h1, .pac-container #proj-text h1, .kap-container #proj-text h1, .trek-container #proj-text h1 {
    margin: 0 0 3vw 0 !important;
    text-align: center;
    font-size: 12vw !important;
 }
  .honne-container #proj-text ul, .fin-container #proj-text ul, .pac-container #proj-text ul, .kap-container #proj-text ul, .trek-container #proj-text ul {
    width: 100% !important;
 }
  .honne-container #proj-text p, .fin-container #proj-text p, .pac-container #proj-text p, .kap-container #proj-text p, .trek-container #proj-text p {
    width: 100% !important;
 }
  .honne-container #proj-text ion-icon, .fin-container #proj-text ion-icon, .pac-container #proj-text ion-icon, .kap-container #proj-text ion-icon, .trek-container #proj-text ion-icon {
    margin: -0.8vw 2vw 0 0 !important;
 }
  .honne-container #proj-text::before, .fin-container #proj-text::before, .pac-container #proj-text::before, .kap-container #proj-text::before, .trek-container #proj-text::before {
    display: none !important;
 }
  .honne-container #honne-image, .fin-container #honne-image, .pac-container #honne-image, .kap-container #honne-image, .trek-container #honne-image {
    width: 250px !important;
    height: 570px !important;
    margin-bottom: 20px !important;
 }
  .honne-container #fin-image, .fin-container #fin-image, .pac-container #fin-image, .kap-container #fin-image, .trek-container #fin-image, .honne-container #kap-image, .fin-container #kap-image, .pac-container #kap-image, .kap-container #kap-image, .trek-container #kap-image, .honne-container #trek-image, .fin-container #trek-image, .pac-container #trek-image, .kap-container #trek-image, .trek-container #trek-image {
    width: 85vw !important;
    height: 45vw !important;
 }
  .honne-container #fin-image::before, .fin-container #fin-image::before, .pac-container #fin-image::before, .kap-container #fin-image::before, .trek-container #fin-image::before, .honne-container #kap-image::before, .fin-container #kap-image::before, .pac-container #kap-image::before, .kap-container #kap-image::before, .trek-container #kap-image::before, .honne-container #trek-image::before, .fin-container #trek-image::before, .pac-container #trek-image::before, .kap-container #trek-image::before, .trek-container #trek-image::before {
    display: none !important;
 }
  .honne-container img, .fin-container img, .pac-container img, .kap-container img, .trek-container img {
    display: block !important;
    width: 86vw;
    height: 45vw;
    margin-top: 15px;
    box-shadow: 1.3px 1.3px 6px #000;
 }
  .honne-container #pac-image, .fin-container #pac-image, .pac-container #pac-image, .kap-container #pac-image, .trek-container #pac-image {
    width: 80vw !important;
    height: 93vw !important;
 }
  .honne-container {
    flex-direction: column-reverse !important;
 }
  .kap-container #proj-text, .trek-container #proj-text {
    transform: translate(0) !important;
    align-self: center !important;
 }
  .pac-container #proj-text {
    margin-bottom: 10vw !important;
 }
  .pac-container #proj-text h1 {
    text-align: center;
    font-size: 8.5vw !important;
 }
  form {
    padding-left: 3.5%;
 }
  form p {
    line-height: 8.3vw !important;
 }
  form p:nth-of-type(1) {
    padding-left: 0 !important;
 }
  form input {
    width: 90% !important;
    font-size: 4.5vw !important;
 }
  form button {
    width: 115px !important;
    height: 115px !important;
    font-size: 16px !important;
 }
  form #socials {
    flex-direction: column !important;
 }
}
